.errorMessage {
  padding: 16px 20px;
  font-size: 24px;
}

.selfie {
  display: flex;
  justify-content: center;
}

.cam, .preview {
  position: relative;
}

.previewImg {
  display: block;
}

.video-player {
  display: block;
}

.btnsContainer {
  display: block;
  justify-content: space-between;
  position: relative;
  padding: 16px 0;
}
.controlBtn{
  font-size: 16px;
  padding: 12px;
  color: #000000;
  border-color: rgb(126, 124, 124);
  background-color: rgb(233, 233, 233);
}
a.controlBtn{
  cursor: default;
  border-width: 2px;
  border-style: outset;
  text-decoration: none;
  margin: 0 10px;
}
.controlBtn:hover{
  background-color: rgb(173, 170, 170);
}
@media screen and (max-width: 660px) {
  .previewImg {
    height: 400px;
    width: 500;
  }

}

@media screen and (max-width: 540px) {
  .errorMessage {
    padding: 10px 16px;
    font-size: 14px;
  }
  .controlBtn{
    font-size: 14px;
    padding: 8px;
  }
  
  .previewImg {
    height: 300px;
    width: 400px;
  }
}